---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome!</h1>
			<p>
				Welcome to the official <a href="https://raceplay.ml/">Raceplay.ml</a> Library
			</p>
			<p>
				You can go to the Library section to browse what we have.
			</p>
			<p>
				Our main social medias are <a href="https://twitter.com/RaceplayVideos"
					>Twitter
				</a> and <a href="https://t.me/RaceplayClips">join us on Telegram</a> to ask questions.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
