---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome!</h1>
			<p>
				Welcome to the <a href="https://raceplay.site/">raceplay.site</a> Preview Library
			</p>
			<p>
				Follow the preview links from our twitter feed.<br>
				You can choose to buy and keep the entire library permanently for a discounted price of $1.50 per video, which would be $205 for all 137+ videos. We want to keep things affordable, so take a look at the previews and see if it's worth it for you. Your support means a lot to us! <a href="https://pul.ly/b/320886">Buy all</a>
				<!--You can go to the Preview section to browse what we have.-->
			</p>
			<p>
				Our main social medias are <a href="https://twitter.com/RaceplayVideos"
					>Twitter
				</a> and <a href="https://t.me/RaceplayClips">join us on Telegram</a> to ask questions.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
