---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SubGoal from '../components/SubGoal.astro';
import Sub from '../components/Sub.astro';
import Adbanner from '../components/Adbanner.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Sub></Sub>
		<Adbanner></Adbanner>
		<Footer />
	</body>
</html>
