---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>How to Subscribe!</h1>
			<p>
				Click the button below to <a href="https://pul.ly/b/321486">purchase</a> a subscription.<br>
                You will not be billed automatically; you have to purchase manually every time. We understand how annoying it can be to be billed for something. You get access to ALL full videos that we have teased so far, all for $22. Check the <a href="/blog">preview</a> Check the preview section for everything we have in the library.
			</p>
            <a class="read_more" onclick="toggleReadMore()" href="https://pul.ly/b/321486">Buy Now</a>
			
		</main>
		<Footer />
	</body>
</html>
