---
import SubGoal from '../components/SubGoal.astro';
import Header from '../components/Header.astro';
---
<div>
    <!DOCTYPE html>
<html lang="en">
        <!-- Script for ad placement-->      
		<div id="floatingAd">
			<script type="text/javascript">
				atOptions = {
					'key' : '75220ff4ec32f1dd1c4671fcb77ef413',
					'format' : 'iframe',
					'height' : 100,
					'width' : 100,
					'params' : {}
				};
			</script>
			<script type="text/javascript" src="//www.highperformanceformat.com/75220ff4ec32f1dd1c4671fcb77ef413/invoke"></script>
		</div>
		
		<style>
			#floatingAd {
				position: fixed;
				bottom: 1px;
				right: 20px;
				width: 140px;
				height: 80px;
				background: rgba(255, 255, 255, 0);
				padding: 1px;
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
				z-index: 1000;
				border-radius: 8px;
			}
		</style>
		 <!-- Script for ad placement -->
</html>

</div>