---
import SubGoal from '../components/SubGoal.astro';
import Header from '../components/Header.astro';
---
<div>
    <!DOCTYPE html>
<html lang="en">
    <main>
        <h1>How to Buy With BitCoin/Crypto</h1>
        <p>
            Copy and paste the address, on your wallet<br>
            • $22.00 (1-month)<br>
            • $202.00 (1-year)<br>
            • $300.00 (Own All the content)<br>
            Type in your Telegram Username on the note while paying with BitCoin make sure to use the BitCoin network<br>
            <div class="crypto_copy_section">
                    bc1q8uz9wzuterlmdqr72h6sdlekdl58cve6jzn54l
            </div>
        </p>
        <!--<a class="read_more" onclick="toggleReadMore()" href="https://pul.ly/b/327606">Subscribe</a>-->
    
    </main>
</html>

</div>