---
import SubGoal from '../components/SubGoal.astro';
import Header from '../components/Header.astro';
---
<div>
    <!DOCTYPE html>
<html lang="en">
    <main>
        <h1>How to Buy With BitCoin/Crypto</h1>
        <p>
            Copy and paste the address, or scan the qr code on your crypto wallet. Because of the convenience of crypto we can offer the entire library for a full year, for one price. Or buy and own the entire library as well as unedited full clips<br>
            <!--Access is $22 per month<br>-->
            • Price: $220.00<br>
            • Duration: 1-Year<br>
            • Content: Access to 150+ videos<br>
            <!--you will not be billed monthly.<br>-->
            Prerequisite: Have a Telegram account for access(It’s a separate private Telegram channel that includes all 150+ videos, different from the public channel where previews are posted)<br>
            DM or Email if you run into an issue.<br>
            Check Spam for link, if you did not receive anything DM or Email.
        </p>
        <a class="read_more" onclick="toggleReadMore()" href="https://pul.ly/b/326889">Subscribe</a>
    
    </main>
</html>

</div>