---
import SubGoal from '../components/SubGoal.astro';
import Header from '../components/Header.astro';
---
<div>
    <!DOCTYPE html>
<html lang="en">
    <main>
        <h1>How to Buy With BitCoin/Crypto</h1>
        <p>
            Copy and paste the address on your processor<br>
            All crypto purchases are half off.<br>
            • $156.00 ($13-month)<br>
            <!--• $180.00 (Buy All the content)<br>--->
            After using crypto send an Email or DM on twitter with the receipt to get an invite link make sure to use the BitCoin network<br>
            <div class="crypto_copy_section">
                    bc1q8uz9wzuterlmdqr72h6sdlekdl58cve6jzn54l
            </div>
        </p>
        <!--<a class="read_more" onclick="toggleReadMore()" href="https://www.patreon.com/checkout/9847982?rid=9388743">Subscribe</a>-->
    
    </main>
</html>

</div>