---
import SubGoal from '../components/SubGoal.astro';
import Header from '../components/Header.astro';
---
<div>
    <!DOCTYPE html>
<html lang="en">
    <main>
        <h1>How to Buy With BitCoin/Crypto</h1>
        <p>
            Copy and paste the address, or scan the qr code on your crypto wallet. Because of the convenience of crypto we can offer the entire library for one price. Or buy and own the entire library as well as unedited full clips<br>
            Type in your Telegram Username on the note while paying with BitCoin, use the BitCoin network<br>
            <div>
                <p class="video_paragraph_header">
                    bc1q8uz9wzuterlmdqr72h6sdlekdl58cve6jzn54l
                    <img style="width:100%; margin:auto;" src="public/RPsiteQRcode1.PNG">
                </p>
            </div>
        </p>
        <!--<a class="read_more" onclick="toggleReadMore()" href="https://pul.ly/b/326889">Subscribe</a>-->
    
    </main>
</html>

</div>