---
import SubGoal from '../components/SubGoal.astro';
import Header from '../components/Header.astro';
---
<div>
    <!DOCTYPE html>
<html lang="en">
    <main>
        <h1 style="text-align: center; font-size: 2.5em; color: ; font-weight: bold; margin-bottom: 20px;">
            INSANE racial dirty talk that will make you <span style="color: #0077CC;">EXPLODE!</span>
        </h1>
        <p style="text-align: center; font-size: 1.2em; line-height: 1.8; color: #333;">
            <div style="position:relative;padding-top:56.25%; margin-bottom: 20px;">
            <iframe src="https://iframe.mediadelivery.net/embed/479555/26f28d54-2547-4bf1-a064-5b335ad3e328?autoplay=true&loop=false&muted=true&preload=false&responsive=true" 
                loading="lazy" 
                style="border:0;position:absolute;top:0;height:100%;width:100%;border-radius: 10px;" 
                allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" 
                allowfullscreen="true">
            </iframe>
            </div>
            <span style="font-weight: bold; color: #0077CC; font-size: 2em;">Sub Now</span> and get <span style="font-weight: bold; color: #99ff00; font-size: 1.5em;">instant access</span> to 
            <span style="font-weight: bold; color: #0077CC;">210+ videos of this type</span>!<br><br>
            <ul style="list-style: none; padding: 0; text-align: left; font-size: 1.1em; color: #ffffff;">
            <li>✔️ <strong>Price:</strong> $23.00 (No hidden fees!)</li>
            <li>✔️ <strong>Duration:</strong> Monthly subscription</li>
            <li>✔️ <strong>Content:</strong> Access to 210+ raceplay only videos</li>
            <li>✔️ <strong>Cancel Anytime:</strong> No commitments!</li>
            </ul>
            <p style="margin-top: 20px; font-size: 1em; color: #666;">
            Stay updated with previews and updates on our <a href="https://x.com/RaceplayVideos" style="color: #0077CC; text-decoration: underline;">Twitter</a>.
            </p>
        </p>
        </p>
        <a class="read_more" onclick="toggleReadMore()" href="https://www.patreon.com/login?ru=%2Fcheckout%2F9847982%3Frid%3D9388743">Subscribe</a>
    
    </main>
</html>

</div>