---
import SubGoal from '../components/SubGoal.astro';
import Header from '../components/Header.astro';
---
<div>
    <!DOCTYPE html>
<html lang="en">
    <main>
        <h1>Subscribe</h1>
        <p>
            Click the button at the bottom to <a href="https://www.patreon.com/login?ru=%2Fcheckout%2F9847982%3Frid%3D9388743">subscribe</a>.<br>
            Alternatively you can use crypto to get a sub for $13/month <a href="/crypto">Click Here</a>  for more info.<br> <br>
            <!--You can also use the <a href="https://strider-link-share.netlify.app/strider terms agreement/">Strider</a> app to get access for $20 <a href="https://strider-link-share.netlify.app/strider terms agreement/">Click Here</a>.<br>-->
            <!--Access is $22 per month<br>-->
            • Price: $23.00 <!---Fees Included(You are not billed monthly)--><br>
            • Duration: 1-month<br>
            • Content: Access to all 200+ videos<br>
            <!--you will not be billed monthly.<br>-->
            Prerequisite: Have a Telegram account <!--(Patreon is the new main processor we use for more availabitity)-->.<br>
            DM or Email if you run into an issue <!--<a href="https://app.websitepolicies.com/policies/view/57s6ojxy"> DMCA</a>.<br>-->
        </p>
        <a class="read_more" onclick="toggleReadMore()" href="https://www.patreon.com/login?ru=%2Fcheckout%2F9847982%3Frid%3D9388743">Subscribe</a>
    
    </main>
</html>

</div>