---
import SubGoal from '../components/SubGoal.astro';
import Header from '../components/Header.astro';
---
<div>
    <!DOCTYPE html>
<html lang="en">
    <main>
        <h1>How to Subscribe</h1>
        <p>
            <!--Click the button at the bottom to <a href="https://pul.ly/b/326889">purchase</a> a subscription.<br>
            You will not be billed monthly automatically; you have to purchase whenever it is convenient for you. You get access to every videos that has been teased so far, for $22, current videos we have are over 130+ with weekly uploads.--->

            Click the button at the bottom to <a href="https://pul.ly/b/326889">purchase</a> a sub.<br>
            <!--Access is $22 per month<br>-->
            • Price: $22.00 Fees Included(You are not billed monthly)<br>
            • Duration: 1-month<br>
            • Content: Access to 150+ videos<br>
            <!--you will not be billed monthly.<br>-->
            Prerequisite: Have a Telegram account for access(It’s a separate private Telegram channel that includes all 150+ videos, different from the public channel where previews are posted)<br>
            DM or Email if you run into an issue.
        </p>
        <a class="read_more" onclick="toggleReadMore()" href="https://pul.ly/b/326889">Subscribe</a>
    
    </main>
</html>

</div>